<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * This source file is subject to the MIT License.
 * It is also available through http://opensource.org/licenses/MIT
 *
 * @category  module-magento
 * @package   Jgmartinss_Frenet
 * @author    João Martins <jgmartinsss@hotmail.com>
 * @copyright 2018 João Martins
 * @license   http://opensource.org/licenses/MIT MIT
 * @link      https://github.com/jgmartinss/magento-frenet-module
 */
 -->
<config>
    <modules>
        <Jgmartinss_Frenet>
            <version>0.0.1</version>
            <depends>
                <Mage_Shipping />
            </depends>
        </Jgmartinss_Frenet>
    </modules>
    <global>
        <models>
            <jgmartinss_frenet>
                <class>Jgmartinss_Frenet_Model</class>
            </jgmartinss_frenet>
        </models>
        <helpers>
            <jgmartinss_frenet>
                <class>Jgmartinss_Frenet_Helper</class>
            </jgmartinss_frenet>
        </helpers>
        <resources>
            <jgmartinss_frenet_setup>
                <setup>
                    <module>Jgmartinss_Frenet</module>
                </setup>
                <connection>
                    <use>core_setup</use> 
                </connection>
                <connection>
                    <use>core_write</use>
                </connection>
                <connection>
                    <use>core_read</use>
                </connection>
            </jgmartinss_frenet_setup>
        </resources>
    </global>
    <frontend>
        <translate>
            <modules>
                <frenet>
                    <files>
                        <default>Jgmartinss_Frenet.csv</default>
                    </files>
                </frenet>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <frenet>
                    <files>
                        <default>Jgmartinss_Frenet.csv</default>
                    </files>
                </frenet>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <carriers>
            <jgmartinss_frenet>
                <active>1</active>
                <model>Jgmartinss_Frenet_Model_Frenetmethod</model>        
                <title>Frenet</title>
                <additional_days>0</additional_days>
                <url_quote>http://api.frenet.com.br/shipping/quote</url_quote>
                <url_tracking>http://api.frenet.com.br/tracking/trackinginfo</url_tracking>
                <url_postal_code>http://api.frenet.com.br/CEP/Address/</url_postal_code>
                <sallowspecific>1</sallowspecific>
                <specificcountry>BR</specificcountry>
            </jgmartinss_frenet>
        </carriers> 
    </default>
</config>
