<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * This source file is subject to the MIT License.
 * It is also available through http://opensource.org/licenses/MIT
 *
 * @category  jgmartinss
 * @package   Trezo_Correios
 * @author    João Martins <jgmartinsss@hotmail.com>
 * @copyright 2017 João Martins
 * @license   http://opensource.org/licenses/MIT MIT
 * @link      https://github.com/jgmartinss/freight-module
 */
 -->
<config>
    <modules>
        <Trezo_Correios>
            <version>0.1.0</version>
        </Trezo_Correios>
    </modules>
    <global>
        <models>
            <trezo_correios>
                <class>Trezo_Correios_Model_Carrier</class>
            </trezo_correios>
        </models>
        <helpers>
            <trezo_correios>
                <class>Trezo_Correios_Helper</class>
            </trezo_correios>
        </helpers>
    </global>
    
    <resources>
        <trezo_correios_setup>
            <setup>
                <module>Trezo_Correios</module>
            </setup>
            <connection>
                <use>directory_setup</use>
            </connection>
        </trezo_correios_setup>
    </resources>
    
    <!-- Default Shipping Method -->
    <default>
        <carriers>
            <trezo_correios>
                <active>1</active>
                <sallowspecific>1</sallowspecific>
                <model>trezo_correios/correiosmethod</model>        
                <name>Correios Method</name>
                <price>10.00</price>
                <title>Correios</title>
            </trezo_correios>
        </carriers>
    </default>
</config>
